* {
    margin: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1260px;
    margin: 0 auto;
    height: 100%;
}

.header__top-block {
    height: 61px;
    background-color: #212121;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.header-icon::before {
    content: "<i class="fa-solid fa-location-dot"></i>"
}

.header-links {
    align-self: center;
}

.header-link {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

.header__content-block {
    background-color: rgb(255, 255, 255);
    height: 160px;
}

.header-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo__img {
    margin: 10px;
    height: 80%;
}

.search-form {
    margin: auto 0;
}

.greeting {
    margin: auto 0;
    font-size: 16px;
    font-weight: 200px;
    color: rgb(0, 0, 0);
}

.greeting__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.section-description__line {
    border: none;
    background-color: #ff8839;
    height: 2px;
    width: 100%;
}

.header-left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.search {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #faa71a;
    background-color: white;
    transition: 1s;
}

.search:hover {
    border-color: black;
}

.input {
    width: 400px;
}

.button {
    cursor: pointer;
}

.contacts {
    margin-top: 15px;
}

.contacts__link{
    /* text-decoration: none; */
    color: black;
}

.header__nav-block {
    height: 61px;
    background: linear-gradient(149deg, rgb(255, 102, 102) 0%, rgb(255, 145, 0) 100%);;
    /* background-color: rgb(243, 156, 156); */
    /* background-color: #faa71a; */
}

.header-navigation {
    height: 100%;
}


.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    padding-left: 0px;
}

.nav-list__item {
    width: 100%;
}

.nav-list__item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-list__link {
    text-decoration: none;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    color: #0a316b;
    text-transform: uppercase;
}

.slider-container {
    /* background: linear-gradient(149deg, rgb(255, 102, 102) 0%, rgb(255, 145, 0) 100%); */
    background: linear-gradient(90deg, rgb(255, 156, 156) 0%, rgb(255, 186, 95) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider {
    width: 1600px;
    max-width: 100%;
    height: 400px;
    margin: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

.slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.slide a {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: none;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
    background: none;
}

a.slide__prev,
.slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
}

a.slide__next,
.slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
}

.slider::before,
.slider::after,
.slide__prev,
.slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid rgb(255, 102, 102);
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
}

.slider::before,
.slider::after {
    content: '';
    z-index: 1;
    background: none;
    pointer-events: none;
}

.slider img {
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.parallax {
    background-attachment: fixed;
    background-image: url(assets/img/BoardGameo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
}

.products-block {
    background: linear-gradient(90deg, rgb(255, 156, 156) 0%, rgb(255, 186, 95) 100%);
    /* background: linear-gradient(149deg, rgb(255, 102, 102) 0%, rgb(255, 145, 0) 100%); */
    height: 950px;
}

.products-content {
    padding: 20px;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    bottom: 40px;
    background-color: white;
    height: 86%;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: space-around;
}

.products-content__top {
    text-align: center;
}

.product__price{
    position: relative;
    top: 10px;
    position: block;
    font-family: 'Quicksand', sans-serif;
}

.products-title {
    margin: 30px;
    font-size: 30px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    height: 100%;
}

.products__link {
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 250px;
    background-color: tomato;
    color: white;
}

.products__link:hover .product__icon {
    position: relative;
    transform: translate(0, 52px);
    transition: 0.6s;
}

.product__icon {
    position: relative;
    top: -25px;
    width: 100%;
    transition: 1s;
    z-index: 2;
}

.product__title {
    position: relative;
    top: -22px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    z-index: 1;
}

.footer {
    box-sizing: border-box;
    background-color: white;
    color: 0a316b;
}

.footer-content {
    padding-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 200px;
}

.footer-content__text {
    position: relative;
    top: 20px;
}

.footer-content__copyright {
    height: 80px;
    font-size: 20px;
    margin-bottom: 40px;
}

.footer-content__text {
    text-align: center;
}

.footer-media {
    list-style: none;
    text-align: center;
    height: 80px;
    padding: 0px;
}

.footer-media__item {
    display: inline-block;
    margin: 0 40px;
    width: 33px;
    height: 33px;
}

.icon-twitter {
    background-image: url(assets/svg/1468368398_Twitter_Rounded_Solid.svg);
    filter: invert(70%);
}

.icon-linkedin {
    background-image: url(assets/svg/1468368407_LinkedIn_Rounded_Solid.svg);
    filter: invert(70%);
}

.icon-google {
    background-image: url(assets/svg/1468368412_Google_Rounded_Solid\ \(2\).svg);
    filter: invert(70%);
}

.icon-facebook {
    background-image: url(assets/svg/1468368389_Facebook_Rounded_Solid.svg);
    filter: invert(70%);
}

.icon {
    margin-top: 5px;
    display: block;
    background-repeat: no-repeat;
    border-radius: 50%;
    padding: 20px;
    background-position: center;
    transition-duration: 0.5s;
}

.icon:hover {
    background-size: 80%;
}